{% extends 'meet/base.html' %}
{% block content %}
    {% for room in name %}
    <div>
        <form id="post-form" method="POST" action="room">
            {% csrf_token %}
            <label>{{ room.name }}</label>
            <input type="hidden" name="room_name" id="room_name" width="100px" />
            
            <!-- <input type="text" name="username" id="username" width="100px" /> -->
            <input type="submit" value="CHAT">
        </form>
    </div>
    {% endfor %}
{% endblock content %}