<script>
    $(document).ready(function(){
    
      setInterval(function(){
          $.ajax({
              type: 'GET',
              url : "/UnreadMessages/{{room}}/",
              success: function(response){
                  
                  
                  $("#display").empty();
                  for (var key in response.messages)
                  {
                      var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                      $("#display").append(temp);
                  }
              },
              error: function(response){
                  alert('An error occured')
              }
          });
      },5000);
      })
    
    </script>

        <!-- {% for room in name %}
         {% if user.username in room.name %}
                <div id = "answer"> </div>
                <script>
                    

                        
                            $.ajax({
                                type: 'GET',
                                url : "/UnreadMessages/{{ room.name }}/",
                                success: function(response){
                                    
                                    console.log('in work')
                                    // // {response}
                                    name = response
                                    // $('#c0r0').text(name)

                                    $("#answer").html(name)
                            
                                },
                                error: function(response){
                                    alert('An error occured')
                                }
                            });
                        
                        

                </script> -->

                <div>
                    
                    
                    <label class="required" for="id_user">User:</label>
                    
                        <input type="text" name="user" value="26" required id="id_user" class="vForeignKeyRawIdAdminField">
<a href="/admin/auth/user/?_to_field=id" class="related-lookup" id="lookup_id_user" title="Lookup"></a>
<strong><a href="/admin/auth/user/26/change/">dummy2826266272737</a></strong>
                    
                
                
            </div>

            <div class="form-row field-user">
            
            
                <div>
                    
                    
                        <label class="required" for="id_user">User:</label>
                        
                            <input type="text" name="user" value="1" required id="id_user" class="vForeignKeyRawIdAdminField">
<a href="/admin/auth/user/?_to_field=id" class="related-lookup" id="lookup_id_user" title="Lookup"></a>
<strong><a href="/admin/auth/user/1/change/">SAMEER</a></strong>
                        
                    
                    
    


        <div class="submit-row">

            <input type="submit" value="Save" class="default" name="_save">
        </div>
